 name: Build on Crave
        run: |
          # Crave-ni yuklab olish
          curl -s https://raw.githubusercontent.com/accupara/crave/master/get_crave.sh | bash
          
          # Ishga tushirish huquqini berish
          chmod +x ./crave
          
          # Build-ni boshlash
          ./crave run --no-patch -- "bash build.sh"
        env:
          CRAVE_USERNAME: ${{ secrets.CRAVE_USERNAME }}
          CRAVE_TOKEN: ${{ secrets.CRAVE_TOKEN }}
          
