name: AwakenOS Build
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
         - name: Build on Crave
        run: |
          curl -s https://raw.githubusercontent.com/accupara/crave/master/get_crave.sh | bash
          chmod +x crave
          # Loyiha nomini va manzilini aniq ko'rsatib ishga tushiramiz
          ./crave run --no-patch -- "bash build.sh"
          
          # Fayl borligini va ishga tushishini tekshirish
          ls -l crave
          chmod +x crave
          
          # Crave orqali buildni boshlash
          ./crave run --no-patch -- "bash build.sh"
        env:
          CRAVE_USERNAME: ${{ secrets.CRAVE_USERNAME }}
          CRAVE_TOKEN: ${{ secrets.CRAVE_TOKEN }}
          
