name: AwakenOS Build
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Crave CLI
        run: |
          curl -sL https://raw.githubusercontent.com/accupara/crave/master/get_crave.sh | bash
          chmod +x crave
          sudo mv crave /usr/local/bin/

      - name: Set up Crave Config
        run: |
          mkdir -p ~/.crave
          # GitHub Secrets'dagi o'zgaruvchilarni qabul qilamiz
          echo "username: ${{ secrets.CRAVE_USERNAME }}" > ~/.crave/crave.conf
          echo "authToken: ${{ secrets.CRAVE_TOKEN }}" >> ~/.crave/crave.conf

      - name: Start Build on Crave
        run: |
          crave run --no-patch -- "bash build.sh"
          
